.dockerignore
Dockerfile
tests
pytest.ini
requirements.in
.git
.idea/
*.prof
*.pyc
*.swp
__pycache__
env
env/
.env/
.env*
.venv/
.flake8
.DS_Store
.coverage
*~
.\#*
Thumbs.db
setup.cfg
.editorconfig
*.sqlite3
sent_mails/
data/